<% throw_content :right do %>
  <h4>View Styles</h4>
  <p>
	Styles allow you to create custom stylesheet rules.
  </p>
<% end %>

<h1>View Styles</h1>

<table>
  <%= partial('admin/styles/style', :with => @styles) %>
</table>
<br />
<%= link_to "New Style", url(:new_admin_style) %>