<% throw_content :right do %>
  <h4>View Theme</h4>
  <p>
	  Here you can view the details of a theme.
  </p>
<% end %>

<h1>View Theme</h1>

<p>
	Name: <%= @theme %>
</p>

<p>
  What we'd like to see here:
</p>

<ul>
  <li>Information about the author</li>
  <li>Screenshots</li>
  <li>Information about new versions</li>
</ul>

<%= link_to "Back to themes", url(:admin_themes) %>