<tr>
	<td><%= link_to release.name, url(:admin_release, release) %></td>
	<td><%= link_to "Edit", url(:edit_admin_release, release) %> | <%= link_to 'Delete', url(:delete_admin_release, release), {:method => :delete, :onclick => "return confirm('Are you sure?')"} %></td>
</tr>