<% throw_content :right do %>
  <h4>View Releases</h4>
  <p>
	Releases allow you to host released plugins within your Feather site - this then means others can download and install your plugins directly to their blogs.
  </p>
<% end %>

<h1>View Releases</h1>

<table class='tabular'>
  <%= partial('admin/releases/release', :with => @releases) %>
</table>
<br />
<%= link_to "New Release", url(:new_admin_release) %>