<% throw_content :right do %>
  <h4>View Release</h4>
  <p>
	  Here you can view the details of an existing release.
  </p>
<% end %>

<h1>View Release</h1>

<p>
	Name: <%= @release.name %>
</p>

<%= link_to "Edit release", url(:edit_admin_release, @release) %> |
<%= link_to "Back to releases", url(:admin_releases) %>