<div id="feed-link">
  <h3>Syndicate</h3>
  Articles: (<%= link_to "RSS", url(:feeds, :action => :articles, :format => :rss) %>|<%= link_to "Atom", url(:feeds, :action => :articles, :format => :atom) %>)
  <br />
  <% if defined?(Feather::Comment) && is_plugin_active("feather-comments") %>
  	Comments: (<%= link_to "RSS", url(:feeds, :action => :comments, :format => :rss) %>|<%= link_to "Atom", url(:feeds, :action => :comments, :format => :atom) %>)
	<br />
  <% end %>
</div>
