<div id="feed-link">
  <h3>Syndicate</h3>
  <!-- <= image_tag 'feed_icon.png' > -->
  Articles: (<%= link_to "RSS", "/articles.rss" %>|<%= link_to "Atom", "/articles.atom" %>)
  <br />
  <% if defined?(Comment) && is_plugin_active("feather-comments") %>
  	Comments: (<%= link_to "RSS", "/comments.rss" %>|<%= link_to "Atom", "/comments.atom" %>)
	<br />
  <% end %>
</div>
