<% throw_content :right do %>
  <h4>View Snippet</h4>
  <p>
	  Here you can view the details of an existing snippet.
  </p>
<% end %>

<h1>View Snippet</h1>

<p>
	Location: <%= @snippet.location %>
</p>

<p>
	Content:
	<br />
	<%= @snippet.content %>
</p>

<%= link_to "Edit snippet", url(:edit_admin_snippet, @snippet) %> |
<%= link_to "Back to snippets", url(:admin_snippets) %>