<style>
	.tag1 { font-size: 12px; }
	.tag2 { font-size: 14px; }
	.tag3 { font-size: 16px; }
	.tag4 { font-size: 18px; }
	.tag5 { font-size: 20px; }
</style>
<!-- I don't like this in the view. Hmmm... -->
<% @tags = Tag.all %>
<% unless @tags.empty? %>
  <div style="margin-top: 20px">
    <h3>Tags</h3>
    <% tag_cloud @tags, %w(tag1 tag2 tag3 tag4 tag5) do |tag, css_class| %>
      <%= link_to(tag.name, url(:tag, tag), :class => css_class) %>
    <% end %>
  </div>
<% end %>
<br />