<% throw_content :title do %>
	Articles tagged with <%= @tag.name %>
<% end %>

<h1>Articles Tagged with '<%= @tag.name %>'</h1>

<!--  -->

<% unless @tag.articles.empty? %>
  <% @tag.articles.each do |a| %>
    <%= link_to(a.title, article.permalink) %>
  <% end %>
<% else %>
  No articles found for <%= @tag.name %>.
<% end %>