<% throw_content :right do %>
  <h4>View Comments</h4>
  <p>
	Comments are left on your blog by visitors.
  </p>
<% end %>

<h1>View Comments</h1>

<table class='tabular'>
	<thead>
  <tr>
  	<th>Name</th>
  	<th>Website</th>
  	<th>E-mail address</th>
  	<th>IP address</th>
  	<th>&nbsp;</th>
  	<th>&nbsp;</th>
  </tr>
  </thead>
  <%= partial('feather/admin/comments/comment', :with => @comments) %>
</table>

<% 1.upto(@page_count) do |page| %>
  <% if page.to_i == (params[:page] || 1).to_i %>
    <%= page %>
  <% else %>
    <%= link_to page, url(:admin_comments, :page => page) %>
  <% end %>
  <%= ' |' unless page == @page_count %>
<% end %>