<h1>Import existing content</h1>

<%= form(:action => url(:admin_importer)) do %>
	<%= text_field :name => "articles_url", :label => "Articles Feed" %><br />
	<% if defined?(Comment) && is_plugin_active("feather-comments") %>
		<%= text_field :name => "comments_url", :label => "Comments Feed" %><br />
	<% end %>
	<%= submit "Import" %>
<% end =%>
