<div id="actions">
  <%= link_to "Edit Mollom settings", url(:edit_admin_mollom_settings, @mollom_config) %> |
</div>
<% throw_content :right do %>
  <h4>View Mollom Settings</h4>
  <p>
	Here you can view comment settings.
  </p>
<% end %>

<h1>View Mollom Settings</h1>

<p>
	Private Key:
	<%= @mollom_config.private_key %>
</p>

<p>
	Public Key:
	<%= @mollom_config.public_key %>
</p>
