<tr>
	<td><%= link_to sidebar_group.title, url(:admin_sidebar_group, sidebar_group) %></td>
	<td <%= link_to "Edit", url(:edit_admin_sidebar_group, sidebar_group) %> | <%= link_to 'Delete', url(:delete_admin_sidebar_group, sidebar_group), {:method => :delete, :onclick => "return confirm('Are you sure?')"} %></td>
</tr>