<% throw_content :right do %>
  <h4>View Sidebar Groups</h4>
  <p>
	  Sidebar groups are sections on the public facing view of your blog. Put 
	  any arbitrary content in each group, formatted with Textile.
  </p>
<% end %>

<h1>View Sidebar Groups</h1>

<table>
  <%= partial('admin/sidebar_groups/sidebar_group', :with => @sidebar_groups) %>
</table>
<br />
<%= link_to "New Sidebar Group", url(:new_admin_sidebar_group) %>