<% throw_content :right do %>
  <h4>View Sidebar Group</h4>
  <p>
	  Here you can view an existing sidebar group.
  </p>
<% end %>

<h1>View Sidebar Group</h1>

<p>
	Title: <%= @sidebar_group.title %>
</p>

<p>
	Content:
	<br />
	<%= render_text(@sidebar_group.formatter, @sidebar_group.content) unless @sidebar_group.content.blank? %>
</p>

<%= link_to "Edit sidebar_group", url(:edit_admin_sidebar_group, @sidebar_group) %> |
<%= link_to "Back to sidebar_groups", url(:admin_sidebar_groups) %>