<% throw_content :right do %>
  <h4>View Ping Services</h4>
  <p>
	  Ping services are services that will be notified when you publish new content, so that they can index your articles.
  </p>

  <p>
	  You can also view the <%= link_to "logs", url(:admin_ping_logs) %> for the ping services, to ensure they are working correctly.
  </p>
<% end %>

<h1>View Ping Services</h1>

<table>
  <%= partial('admin/ping_services/ping_service', :with => @ping_services) %>
</table>
<br />
<%= link_to "New Ping Service", url(:new_admin_ping_service) %> |
<%= link_to "View Ping Logs", url(:admin_ping_logs) %>